{% extends 'navigation.html' %}
{% load static %}
{% block body %}
<center><h2 style = "font-family : 'perpetua' ; color : black
 ; font-weight : bold;margin-top:2%">About Us</h2></center><hr>
<section id="about">
          <div class="container">
               <div class="row">

                    <table><tr><td>
                         <p style="color:black;font-size:22px;font-family:calibiri">
                         

                              Welcome to Online Auction System, one of the best <br> Indian online auction shopping venues on the Net!<br> This web  site is owned and operated by The Bidder <br>Corporation, an Indian enterprise founded by us, <br> successful business persons from north region of<br> India. We are specializing in import-export of bulk <br>electronics products, e-commerce, entertainment shopping<br> and premium brands distribution. We are operating from<br> all states of India and also across the all over country.
                              
                              <br>We conducted it's 1st online auction on 24th April 2023.<br> Since then we are proudly India's No-1 Online Auctioneer <br> with 20k+</p>
                              </p></td>
                              <td>
                                   <img src="{% static 'images/about_auction.jpg' %}" style="height:350px;width:97%">
                              </td>
                              
                              
                              
                              
                              
                              
                              
                              
                              <tr><td colspan="2">
                                   <p style="color:black;font-size:22px;font-family:calibiri">Registered Members
                     
                              "Welcome to our online auction website, where bidding meets convenience and excitement, bringing buyers and sellers together in a virtual marketplace."It is a new exciting auction website where you can win branded factory sealed new products. Look at our homepage to see what products are up for auction right now, and if something seems interesting, why not bid for it!
                              
                              We provides an opportunity to those people who can't afford to purchase costly branded products, they can try our risk free auctions to win their desired products like Cars, Bikes, Smartphones, Laptop, Tablets & branded watches.
                                                    
                              We will do our very best to provide you with great merchandise at the best possible price. We think you will find that mixing online auction competition into the "joy of shopping" makes it all even more fun at bidderboy. <br><br>
                              
                             <b> <u>Our Values :</u></b> <br>
                              
                              Our main goal is giving fun to online shopping. We aim to achieve this objective through :<br>
                              
                               ◉ An ethical bidding environment for our customers <br>
                              
                               ◉ Accurate product and pricing information <br>
                              
                               ◉ Quick responses to customer inquiries and problems <br>
                              
                               ◉ Highest standards for our customer’s privacy <br>
                              
                               ◉ Constant innovation and development of new features <br>
                              
                               ◉ Long-term relationship with our suppliers and partners <br>
                              
                               ◉ Dignity and respect among all the members of our team
</p>
                    </td></tr></table
                    
                    

               </div>
          </div>
     </section>
{% endblock %}